{% extends "base.html" %}
{% block content %}
    <section id="about">
      <div class="container">
        <h1>
          おすすめユーザー
        </h1>
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>アカウント</th>
                <th>おすすめ度</th>
              </tr>
            </thead>
            <tbody>
              {% for user in recommend_users %}
              <tr>
                <td><a href="https://{{ user.instance }}/@{{ user.user_name }}">{{ user.user_name }}@{{ user.instance }}</a></td>
                <td>{{ user.similarity|floatformat:-4 }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <h1>
          類似ユーザーリスト
        </h1>
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>アカウント</th>
                <th>類似度</th>
              </tr>
            </thead>
            <tbody>
              {% for user in similar_users %}
              <tr>
                <td><a href="https://{{ user.instance }}/@{{ user.user_name }}">{{ user.user_name }}@{{ user.instance }}</a></td>
                <td>{{ user.similarity|floatformat:-4 }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
{% endblock %}