{% extends "base.html" %}
{% block content %}
    <section id="about">
      <div class="container">
        <h1>
          おすすめユーザー
        </h1>
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>アカウント</th>
                <th>おすすめ度</th>
              </tr>
            </thead>
            <tbody>
              {% for user in recommend_users %}
              <tr>
                <td>
                  <div class="item__header clearfix">
                    <span class="item__user-icon">
                      <img src="{{ user.avatar }}" height="48" width="48" alt="{{ user.acct }}" class="item__user-icon-img" />
                    </span>
                    <span class="item__user-name">
                      <strong>{{ user.display_name }}</strong> @{{ user.acct }}
                    </span>
                    <span class="item__bio">
                      {% autoescape off %}{{ user.bio }}{% endautoescape %}
                    </span>
                    <span class="item__url">
                      <a href="{{ user.url }}">{{ user.url }}</a>
                    </span>
                  </div>
                </td>
                <td>{{ user.similarity|floatformat:-4 }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <h1>
          類似ユーザーリスト
        </h1>
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>アカウント</th>
                <th>類似度</th>
              </tr>
            </thead>
            <tbody>
              {% for user in similar_users %}
              <tr>
                <td>
                  <div class="item__header clearfix">
                    <span class="item__user-icon">
                      <img src="{{ user.avatar }}" height="48" width="48" alt="{{ user.acct }}" class="item__user-icon-img" />
                    </span>
                    <span class="item__user-name">
                      <strong>{{ user.display_name }}</strong> @{{ user.acct }}
                    </span>
                    <span class="item__bio">
                      {% autoescape off %}{{ user.bio }}{% endautoescape %}
                    </span>
                    <span class="item__url">
                      <a href="{{ user.url }}">{{ user.url }}</a>
                    </span>
                  </div>
                </td>
                <td>{{ user.similarity|floatformat:-4 }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
{% endblock %}